{% extends "base.html" %}
{% load static %}

{% block title %}
Profile
{% endblock %}
{% block content %}
<h1>Profile</h1>
<p style="padding:15px;background-color:lightblue;border: 2px inset black;margin:10px 450px;"><strong>Username:</strong> {{ profile.user.username }}</p>
<p style="padding:15px;background-color:lightblue;border: 2px inset black;margin:10px 450px;"><strong>Email:</strong> {{ profile.user.email }}</p>
<p style="padding:15px;background-color:lightblue;border: 2px inset black;margin:10px 450px;"><strong>Bio:</strong> {{ profile.bio }}</p>
<p style="padding:15px;background-color:lightblue;border: 2px inset black;margin:10px 450px;"><strong>Location:</strong> {{ profile.location }}</p>
<p style="padding:15px;background-color:lightblue;border: 2px inset black;margin:10px 450px"><strong>Birth Date:</strong> {{ profile.birth_date }}</p>
{% endblock %}