{% extends "base.html" %}

{% block content %}
<div class="scoreboard">
    <h1>Scoreboard</h1>
    <table>
        <thead>
            <tr>
                <th>Player</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody>
            {% for player in players %}
            <tr>
                <td>{{ player.name }}</td>
                <td>{{ player.score }}</td>
                <td>{{ player.intials }}</td>
                <td>{{ player.game_date }}</td>
                <td></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
